.stock{
    padding-top: 6em;
    height: 90vh;
}

.title{
    padding-top: 0em;
    font-family: helvetica;
    font-size: 3em;
    color: #e0e0e0;
    margin: auto auto auto auto;
    transition: 0.8s ease-out;
    animation: fadeIn .5s ease;
  }

.symbol{
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 3em;
    font-weight: 600;
    animation: fadeIn 1s ease;
}

.price{
    margin: .5em 0 0 0;
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 3.5em;
    font-weight: 600;
    animation: fadeIn 1.5s ease; 
}

.change{
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 2em;
    font-weight: 500;  
    animation: fadeIn 2s ease;
}

.highLow{
    display: flex;
    margin: 1em auto auto auto;
    width: 20vw;
}

.low{
    flex: 1;
    font-family: Helvetica;
    font-size: 1.5em;
    color: #e0e0e0;
    animation: fadeIn 2s ease;
}

.lowText{
    font-weight: 600;  
}

.lowLabel{
    font-weight: 500;  
}

.high{
    flex: 1;
    font-family: Helvetica;
    font-size: 1.5em;
    color: #e0e0e0;
    animation: fadeIn 2s ease;
}

.highText{
    font-weight: 600;
}

.highLabel{
    font-weight: 500;
}

.openClose{
    display: flex;
    margin: 1em auto auto auto;
    width: 20vw;
}

.open{
    flex: 1;
    font-family: Helvetica;
    font-size: 1.5em;
    color: #e0e0e0;
    animation: fadeIn 2s ease;
}

.openText{
    font-weight: 600;  
}

.openLabel{
    font-weight: 500;  
}

.close{
    flex: 1;
    font-family: Helvetica;
    font-size: 1.5em;
    color: #e0e0e0;
    animation: fadeIn 2s ease;
}

.closeText{
    font-weight: 600;
}

.closeLabel{
    font-weight: 500;
}

.loading {
    border: 16px solid #e0e0e0; /* Light grey */
    border-top: 16px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1000px){
    .title{
        font-size: 2em;
    }
    .symbol{
        font-size: 1.5em;
    }
    .price{
        font-size: 2.5em;
    }
    .highLow{
        width: 15em;
    }
    .openClose{
        width: 15em;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}