.title{
    padding-top: 0em;
    font-family: helvetica;
    font-size: 3em;
    color: #e0e0e0;
    margin: auto auto .5em auto;
    transition: 0.8s ease-out;
    animation: fadeIn 1s ease;
  }

.symbol{
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 3em;
    font-weight: 600;
    animation: fadeIn 1.5s ease;
}

.price{
    margin: .5em 0 0 0;
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 3.5em;
    font-weight: 600;
    animation: fadeIn 2s ease; 
}

.change{
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 2em;
    font-weight: 500;  
    animation: fadeIn 2.5s ease;
}

  .info{
    font-family: helvetica;
    font-Size: 3em;
    color: #e0e0e0;
    margin: 0em;
    transition: 0.8s ease-out;
  }

  .downPrice{
    font-family: helvetica;
    color: #ff2e63;
    font-size: "5em"
  }

.openClosePrice{
    padding: 1em;
    font-family: helvetica;
    font-Size: 2em;
    color: #e0e0e0;
    margin: 0em;
}

.stockNewsBox{
    font-family: helvetica;
    margin: 1em;
    background-Color: #39c9a0;
    border-Radius: 8px 8px 8px 8px;
    color: #e0e0e0;
    padding: 0.5em;
    transition: 0.9s ease-out;
}

@media only screen and (min-width: 1000px) {
    .stockNewsBox{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}