.title{
    padding-top: 0em;
    font-family: helvetica;
    font-size: 3em;
    color: #e0e0e0;
    margin: auto;
    transition: 0.8s ease-out;
    animation: fadeIn .5s ease;
  }

.symbol{
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 3em;
    font-weight: 600;
    animation: fadeIn 1s ease;
}

.price{
    margin: .5em 0 0 0;
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 3.5em;
    font-weight: 600;
    animation: fadeIn 1.5s ease; 
}

.change{
    font-family: Helvetica;
    color: #e0e0e0;
    font-size: 2em;
    font-weight: 500;  
    animation: fadeIn 2s ease;
}

.highLow{
    display: flex;
    margin: 2em auto auto auto;
    width: 20vw;
}

.low{
    flex: 1;
    font-family: Helvetica;
    font-size: 1.5em;
    color: #e0e0e0;
    animation: fadeIn 2s ease;
}

.lowText{
    font-weight: 600;  
}

.lowLabel{
    font-weight: 500;  
}

.high{
    flex: 1;
    font-family: Helvetica;
    font-size: 1.5em;
    color: #e0e0e0;
    animation: fadeIn 2s ease;
}

.highText{
    font-weight: 600;
}

.highLabel{
    font-weight: 500;
}

  .info{
    font-family: helvetica;
    font-Size: 3em;
    color: #e0e0e0;
    margin: 0em;
    transition: 0.8s ease-out;
  }

  .downPrice{
    font-family: helvetica;
    color: #ff2e63;
    font-size: "5em"
  }

.openClosePrice{
    padding: 1em;
    font-family: helvetica;
    font-Size: 2em;
    color: #e0e0e0;
    margin: 0em;
}

.stockNewsBox{
    font-family: helvetica;
    margin: 1em;
    background-Color: #39c9a0;
    border-Radius: 8px 8px 8px 8px;
    color: #e0e0e0;
    padding: 0.5em;
    transition: 0.9s ease-out;
}

.loading {
    border: 16px solid #e0e0e0; /* Light grey */
    border-top: 16px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media only screen and (min-width: 1000px) {
    .stockNewsBox{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    }
}

@media only screen and (max-width: 1000px){
    .highLow{
        width: 15em;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}